// Imported font to make site look better
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

// 700px 900px 1400px

// Variables, no-opacity
$main-color: rgb(17, 17, 17);
$main-color-transparent: rgba(55, 50, 62, 0);

// Placeholder classes
%flex-all-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23cccccc' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23999999' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23666666' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23333333' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23000000' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.container {
  @extend %flex-all-centered;
  flex-direction: column;
  justify-content: unset;
  width: 100%;
}

@media (min-width: 650px) {
  .container {
    padding: 0 3em;
  }
}

@media (min-width: 900px) {
  .container {
    padding: 0 5em;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }
}

// Navbar

.navbar {
  @extend %flex-all-centered;
  background-color: $main-color;
  color: white;
  width: 100%;
  padding: 1em 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 65px;
}

// Genres

.genres-container {
  margin-top: 65px;
  width: 100%;
  position: relative;
}

.genres {
  list-style-type: none;
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-evenly;
  padding-top: 1em;
}

.genre {
  cursor: pointer;
  padding: 0.75em;
  border-bottom: 2px solid $main-color-transparent;
  transition: border-bottom 0.5s;
}

.genre:hover {
  border-bottom: 2px solid $main-color;
}

.genre--active {
  border-bottom: 2px solid $main-color;
}

// Form and posts

.form--posts-outer-container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 20px;
}

.form-outer-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.posts-outer-container {
  text-align: center;
  margin: 0 10px;
}

.posts-sort-by {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-label {
    margin-bottom: 10px;
  }
}

@media (min-width: 700px) {
  .form--posts-outer-container {
    flex-direction: unset;
  }

  .form-outer-container {
    width: 40%;
  }

  .posts-outer-container {
    width: 60%;
  }
}

// Footer
.no-footer-content {
  min-height: calc(100vh - 50px);
}

.footer {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 0;
  justify-content: space-around;
  height: 50px;
  font-size: 0.9em;
}

@media (min-width: 700px) {
  .footer {
    font-size: 1em;
  }
}
