// Footer (-50px is height of footer. If change footer height then change this number and vice versa)
.no-footer-content {
  min-height: calc(100vh - 50px);
}

.footer {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 0;
  justify-content: space-around;
  height: 50px;
  font-size: 0.9em;
}

@media (min-width: 700px) {
  .footer {
    font-size: 1em;
  }
}
