.post {
  margin-bottom: 25px;
  padding-top: 50px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
  background-color: white;

  &-main {
    padding: 0 15px;
  }

  &-top {
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &-edit {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &-name {
    padding: 10px 0px;
  }

  &-genre {
    position: absolute;
    top: 15px;
    background-color: rgba($color: #000000, $alpha: 1);
    color: white;
    padding: 2.5px 7.5px;
  }

  &-extras-container {
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: unset;
    justify-content: space-around;
    line-height: 20px;
  }

  &-extras {
    display: flex;
  }

  &-clickable {
    cursor: pointer;
    background: none;
    border: none;
    padding: 5px;
    transition: background 0.5s;
  }

  &-clickable:hover {
    background: rgba($color: #000000, $alpha: 0.075);
  }

  &-div-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-icon {
    margin: 0 5px;
  }

  &-bottom {
    padding-bottom: 10px;
  }

  &-bottom-p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  &-replies {
    padding: 0 15px;
    background: rgba($color: #000000, $alpha: 0.075);
  }

  &-reply-post {
    padding-top: 25px;
    margin-top: 10px;
    font-size: 0.9em;
    position: relative;
    border-top: 1px solid black;
  }

  &-reply-post:last-of-type {
    padding-bottom: 15px;
  }

  &-edit-reply-post {
    top: 0;
    right: 0;
  }
}

.post:first-of-type {
  margin-top: 25px;
}
