// Navbar
$main-color: rgb(17, 17, 17);

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $main-color;
  color: white;
  width: 100%;
  padding: 1em 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 65px;

  &-title-container {
    display: flex;
    width: 50%;
    justify-content: center;
    text-align: center;
  }

  &-title {
    font-size: 1em;
  }

  &-toolbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  &-profile {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
  }

  &-avatar {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border-radius: 50%;
  }

  &-username {
    display: none;
    padding: 0 10px;
  }

  &-log-in-out {
    background: none;
    border: none;
    padding: 5px 15px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1px;
    transition: all 0.25s;
  }

  &-log-in {
    background-color: #3f50b5;
    color: white;
  }

  &-log-in:hover {
    background-color: #002884;
  }

  &-log-out {
    background-color: #f44336;
    color: white;
  }

  &-log-out:hover {
    background-color: #ba000d;
  }
}

@media (min-width: 500px) {
  .navbar {
    &-username {
      display: block;
    }
  }
}
@media (min-width: 700px) {
  .navbar {
    &-title {
      font-size: 1.5em;
    }

    &-avatar {
      width: 30px;
      height: 30px;
    }

    &-username {
      font-size: 1em;
    }

    &-log-in-out {
      padding: 7.5px 25px;
    }
  }
}
